.container-text, .container {
  background-color: whitesmoke;
  border: 2px solid black;
}

.container {
  background-color: gainsboro;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 800px;
  margin: auto;
  text-align: center;
  width: 60%;
}

#Header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#category {
  font-size: 50px;
  font-weight: 900;
}