#header-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#info-container {
  display: flex;
  margin: auto;
  font-size: 30px;
  flex-flow: column wrap;
  justify-content: center;
  width: 480px;
  text-align: center;
}

#avatar {
  display: flex;
  width: 180px ;
  border-radius: 50%;
  order: -1;
  margin: auto;
}

.header-info {
  font-size: 35px;
  color: azure;
}
