#header-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#info-container {
  background-color: rgb(30, 63, 37);
  display: flex;
  margin: auto;
  font-size: 30px;
  flex-flow: row wrap;
  justify-content: center;
  width: 450px;
  text-align: right;
}

#avatar {
  display: flex;
  width: 300px ;
  order: -1;
}

.info-container-text {
  display: flex;
  order: 2;
}