.container-ranking {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.ranking-tittle {
  color: #2f4858;
  font-family: Pacifico , sans-serif;
  font-size: 3rem;
}

.ranking-container {
  background-color: #307a88;
  border: 2px solid #2f4858;
  color: white;
  display: flex;
  font-family: Titan One , cursive;
  font-size: 1.5rem;
  margin: auto;
  opacity: 0.9;
  width: 40%;
}

.ranking-container:first-of-type {
  border-radius: 20px 20px 0 0;
}

img {
  border-radius: 20px;
}

.score-conteiner {
  background-color: #c3e0e5;
  border-left: 2px solid;
  border-radius: 0 20px 0 0;
  color: #2f4858;
  height: 10vh;
  margin: 0;
  opacity: 1;
  padding: 1vh;
  text-align: right;
  width: 20%;
}

.buttons-ranking {
  background-color: #25a0ec;
  border: 3px solid #c3e0e5;
  border-radius: 20px;
  color: white;
  font-family: Titan One , cursive;
  font-size: 30px;
  font-weight: 200;
  height: 15vh;
  margin: auto;
  padding: 5px;
  width: 40%;
}

.button-ranking-container {
  margin: auto;
  padding-left: 50px ;
  width: 80%;
}